$primary-color: #0ea5e9;
$primary-color-hover: #0284c7;
$primary-color-light: #e0f2fe;
$secondary-color: #f97316;
$secondary-color-hover: #ea580c;
$light-gray-color: #cbd5e1;
$gray-color: #94a3b8;
$dark-gray-color: #334155;

@mixin icons($color, $width) {
    color: $color;
    width: $width;
    cursor: pointer;
}

@mixin sticky($top) {
    position: -webkit-sticky;
    position: sticky;
    top: $top;
}

@mixin button($bg-color, $bg-color-hover, $text-color) {
    background-color: $bg-color;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    color: $text-color;
    text-decoration: inherit;

    &:hover {
        background-color: $bg-color-hover;
        color: $text-color;
        text-decoration: inherit;
        cursor: pointer;
    }
}

button {
    background-color: inherit;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: inherit;
}

.font-inter {
    font-family: "Inter", sans-serif !important;
}

.bg-blue {
    background-color: $primary-color;
}

.bg-light-blue {
    background-color: $primary-color-light;
}

.border-blue {
    border: solid;
    border-width: 2px;
    border-color: $primary-color;
}

.text-xs {
    font-size: 0.75rem;
}

.text-2xs {
    font-size: 0.5rem;
}

.link-unstyled:link,
.link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}

.underline-link:hover {
    text-decoration: underline;
}

.avatar {
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
}

.avatar-arrow {
    @include icons($gray-color, 1rem);
    margin-left: 0.4rem;
}

.notification-bell {
    @include icons($gray-color, 1.7rem);
}

.plus-icons {
    @include icons(white, 1rem);
    margin: {
        right: 0.4rem;
        bottom: 0.2rem;
    }
}

.btn-blue,
.btn-blue:link {
    @include button($primary-color, $primary-color-hover, white);
}

.btn-orange,
.btn-orange:link {
    @include button($secondary-color, $secondary-color-hover, white);
}

.btn-gray,
.btn-gray:link {
    @include button($light-gray-color, $gray-color, $dark-gray-color);
}

// Sidebars and Navbar
.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);
    background-color: transparent;
    border: 0;
    width: 100%;
}
.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, 0.85);
    background-color: $primary-color-light;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    transition: transform 0.35s ease;
    transform-origin: 0.5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, 0.85);
}
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: 0.1875rem 0.5rem;
    margin-top: 0.25rem;
    margin-left: 1.25rem;
    text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: $primary-color-light;
}

.sidebar-icons {
    @include icons($gray-color, 1.5rem);
    margin: {
        right: 0.4rem;
        bottom: 0.2rem;
    }
}

.sticky-navbar {
    @include sticky($top: 0);
    height: 9vh;
    width: 100%;
    z-index: 10;
}

.sticky-sidebar {
    @include sticky($top: 9vh);
    transition: all;
}

.sticky-right-side {
    @include sticky($top: 14vh);
    height: 9vh;
}

//Post
.post-icons {
    padding: 6px;
    &:hover {
        padding: 6px;
        background-color: $primary-color-light;
        color: $primary-color;
        border-radius: 6px;
    }
}

.verified-icons {
    @include icons($primary-color, 2rem);
}
